{{- define "imports" -}}
import (
	"fmt"
	"context"

	"k8s.io/apimachinery/pkg/types"
	ctrlruntimeclient "sigs.k8s.io/controller-runtime/pkg/client"
{{ range .Imports }}
	{{ .Alias }} "{{ .Package }}"
{{- end }}
)
{{- end -}}
