{{- define "reconciler" -}}
// {{ .APIVersionPrefix }}{{ .ResourceName }}Reconciler defines an interface to create/update {{ .ResourceNamePlural }}.
type {{ .APIVersionPrefix }}{{ .ResourceName }}Reconciler = GenericObjectReconciler[*{{ .ImportAlias }}.{{ .ResourceName }}]

// Named{{ .APIVersionPrefix }}{{ .ResourceName }}ReconcilerFactory returns the name of the resource and the corresponding Reconciler function.
type Named{{ .APIVersionPrefix }}{{ .ResourceName }}ReconcilerFactory = GenericNamedObjectReconciler[*{{ .ImportAlias }}.{{ .ResourceName }}]
{{- end -}}
